<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="wildfly">
        <environment id="wildfly">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:/jboss/datasources/autoDatasource"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.psk.autoproject.dao.mybatis.CustomerMapper"/>
    </mappers>
</configuration>
